RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9]+)$ index.php?module=website&action=$1 [QSA,L]
RewriteRule ^souvenir/.*[^\/]+/([0-9]*)$ index.php?module=website&action=souvenir&id=$1 [QSA,L]
RewriteRule ^list/.*[^\/]+/([0-9]*)$ index.php?module=website&action=category&id=$1 [QSA,L]

